* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #081b29;
  --secondary: #0077b6;
  --tertiary: white;
}

span {
  color: var(--secondary);
}

body {
  background-color: var(--primary);
  color: white;
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.left {
  font-size: 30px;
  color: var(--highlights);
  text-decoration: none;
  font-weight: 600;
}

/* <---nav start -->*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

nav a {
  font-size: 20px;
  color: var(--highlights);
  text-decoration: none;
  margin-left: 40px;
  font-weight: 400;
  transition: 0.3s ease;
}

nav a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

/* <---nav end -->*/

.left img {
  width: 300px;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 50%;
  border: var(--tertiary) solid 20px;
}

.right {
  padding-top: 25vh;
  padding-left: 30vh;
}

.main {
  color: var(--tertiary);
  font-weight: 700;
}

p {
  color: var(--highlights);
  align-content: flex-end;
}

/*<-------custom cursor--------->*/

.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: var(--tertiary);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursor-1.active {
  height: 3rem;
  width: 3rem;
  opacity: 0.3;
  transition: ease 0.3s;
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.1rem;
  width: 2.1rem;
  border: 0.1rem solid var(--tertiary);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}

/*<-------custom cursor end--------->*/

/*<--media query-->*/
@media (max-width: 450px) {
  .left img {
    width: 130px;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 50%;
    border: var(--tertiary) solid 10px;
  }
}
