* {
    margin: 0;
    padding: 0;
}

/*<-------custom cursor--------->*/

.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: var(--tertiary);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: .1s;
}

.cursor-1.active {
  height: 3rem;
  width: 3rem;
  opacity: 0.3;
  transition: ease 0.5s;
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.1rem;
  width: 2.1rem;
  border: 0.1rem solid var(--tertiary);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.1s linear;
}

.cursor-2.active {
  display: none;
  transition: .7s ease;
}

/*<-------custom cursor end--------->*/

:root {
    --primary: #081b29;
  --secondary: #00abf0;
  --tertiary: white;
}

h1{
    font-weight: 700;
}

span {
  color: var(--secondary);
}

body {
  background-color: var(--primary);
  color: white;
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.left {
  font-size: 30px;
  color: var(--highlights);
  text-decoration: none;
  font-weight: 600;
}

/* <---nav start -->*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  margin-top: 10px;
}

nav a {
  font-size: 20px;
  color: var(--highlights);
  text-decoration: none;
  margin-left: 40px;
  font-weight: 400;
  transition: 0.3s ease;
}

nav a:hover {
  color: var(--secondary);
  /*text-decoration: underline;*/
}

/* <---nav end -->*/

.left img {
  width: 300px;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 50%;
  border: var(--tertiary) solid 20px;
}

.right {
  padding-top: 25vh;
  padding-left: 30vh;
}

/*<--- main div-->*/
.main {
  color: var(--tertiary);
  font-weight: 700;
}

.main .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 93%;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 20px;
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: var(--secondary);
}

.btn-box a:nth-child(2){
    background: transparent;
    color: var(--secondary);
}

.btn-box a:nth-child(2):hover{
    color: var(--primary);
}

.btn-box a:nth-child(2)::before{
    background-color: var(--secondary);

}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--primary);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}


p {
  color: var(--highlights);
  align-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*<--- main div-->*/


/*<--media query-->*/
@media (max-width: 450px) {
  .left img {
    width: 130px;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 50%;
    border: var(--tertiary) solid 10px;
  }
}
/*
@media only screen and (max-width: 600px) {
    {

    }}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}